body {
  background-color: #260126;

}

h1 {
  color: #BFAF80;
  text-align: center;
  font-family: Copperplate, sans-serif;
  font-size: 60px;

}
h2 {
  text-align: center;
  font-family: Copperplate, sans-serif;
  font-size: 30px;
  color:#8C6954;


}
#headerImg {

display: block;
margin-left: auto;
margin-right: auto;
background-repeat: no-repeat;
background-position: 50%;
border-radius: 50%;
}
